.main{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(3 , 200px);
    gap: 10px;
    margin-left: 50px;
}
.main div{
    overflow: hidden;
    border-radius: 10px;
}
.main div img {
    width: 100%;
    border-radius: 10px;
}
.main div{
    display: flex;
    align-items: center;
}
.main div button{
    padding: 15px 25px;
    margin-top: 5px;
    background: linear-gradient(45deg, red, blue);
    text-transform: capitalize;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}
.main div button:hover{
    background: linear-gradient(45deg,  blue , red);
}